.friendList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

.item {
  width: 200px;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px;
  border: 1px solid lightslategray;
  border-radius: 15px;
  margin: auto;
  background-color: white;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.avatar {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 30%;
}

.name {
  font-weight: bold;
  font-size: 16px;
}
